In [244]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import sqlite3
from itertools import chain


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [14]:
file = BeautifulSoup(open("html_raw.txt", encoding = 'utf8').read(), "lxml")

In [119]:
#retrieve only the "meaningful" tables
table_list = []
for i in range (0, len(file.find_all('table'))):
    string = pd.read_html(str(file.find_all('table')[i]))
    if len(string) > 1:
        table_list.append(string[0])
print("tada!")

tada!

In [124]:
#check to see if all the good stuff is there
len(table_list)

1282

In [148]:
table_list[1]

,0,1,2,3,4,5
0,INID,INID,FIELD,FIELD,CONTENT,CONTENT
1,INID,NaN,NaN,NaN,NaN,NaN
2,FIELD,NaN,NaN,NaN,NaN,NaN
3,CONTENT,NaN,NaN,NaN,NaN,NaN
4,(210),APP. NUMBER,4-2015-00659,NaN,NaN,NaN
5,(220),APP. DATE,12/01/2015,NaN,NaN,NaN
6,(300),PRIORITY DATE,NaN,NaN,NaN,NaN
7,(540),TRADE MARK,Yunyan,NaN,NaN,NaN
8,NaN,TM TYPE,Normal,NaN,NaN,NaN
9,NaN,TM COLOR,0,NaN,NaN,NaN
10,(511),GOODS / SERVICES,34 Thuá»c lÃ¡ Äiáº¿u.,NaN,NaN,NaN
11,(731) / (732),APPLICANT / RIGHT HOLDER,CÃ´ng ty trÃ¡ch nhiá»m há»¯u háº¡n HÆ°ng Hiá»...,NaN,NaN,NaN
12,NaN,APPLICANT ADDRESS,"Sá» 62, áº¥p Long HÃ²a 1, xÃ£ Long Chá»¯, huy...","Sá» 62, áº¥p Long HÃ²a 1, xÃ£ Long Chá»¯, huy...",NaN,NaN
13,"Sá» 62, áº¥p Long HÃ²a 1, xÃ£ Long Chá»¯, huy...",NaN,NaN,NaN,NaN,NaN
14,NaN,CHUKAN CODE,(10/02/2015) 221: Notification for Acceptance ...,NaN,NaN,NaN

In [196]:
table_list[0][1].astype(str)

0                         INID
1                          NaN
2                          NaN
3                          NaN
4                  APP. NUMBER
5                    APP. DATE
6                PRIORITY DATE
7                   TRADE MARK
8                      TM TYPE
9                     TM COLOR
10            GOODS / SERVICES
11    APPLICANT / RIGHT HOLDER
12           APPLICANT ADDRESS
13                         NaN
14                 CHUKAN CODE
Name: 1, dtype: object

### British American Tobacco

In [217]:
#retrieve lists that contain "British American Tobacco"
bat = []
for table in table_list:
    if any('British American' in s for s in list(table[2].astype(str))):
        bat.append(table)
print('Tada!')

Tada!

In [216]:
len(bat)

60

In [ ]:
#put to dataframe

### Philip Morris

In [218]:
#retrieve lists that contain "Philip Morris"
pmi = []
for table in table_list:
    if any('Philip Morris' in s for s in list(table[2].astype(str))):
        pmi.append(table)
print('Tada!')

Tada!

In [208]:
len(pmi)

87

In [257]:
pmi[0].transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,INID,INID,FIELD,CONTENT,(210),(220),(300),(540),NaN,NaN,(511),(731) / (732),NaN,"Quai Jeanrenaud 3, NeuchÃ¢tel, 2000, Switzerland",(740),NaN
1,INID,NaN,NaN,NaN,APP. NUMBER,APP. DATE,PRIORITY DATE,TRADE MARK,TM TYPE,TM COLOR,GOODS / SERVICES,APPLICANT / RIGHT HOLDER,APPLICANT ADDRESS,NaN,IP AGENCY,CHUKAN CODE
2,FIELD,NaN,NaN,NaN,4-2015-26281,24/09/2015,31/03/2015,AQUA SPRAY,Normal,0,"34 Thuá»c lÃ¡, thÃ´ hoáº·c ÄÃ£ ÄÆ°á»£c cháº...",Philip Morris Products S.A.,"Quai Jeanrenaud 3, NeuchÃ¢tel, 2000, Switzerland",NaN,TGVN,(30/11/2015) 221: Notification for Acceptance ...
3,FIELD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Quai Jeanrenaud 3, NeuchÃ¢tel, 2000, Switzerland",NaN,NaN,NaN
4,CONTENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CONTENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
pmi_clean = pd.DataFrame(columns = ['APP. NUMBER', 'APP. DATE', 'TRADE MARK', 'TM TYPE', 'TM COLOR', 'GOODS / SERVICES', 'APPLICANT / RIGHT HOLDER', 'CHUKAN CODE'])
for table in pmi:
    #put to dataframe
    df = table.transpose()
    #replace default column headers as first row
    df.columns = df.iloc[1]
    #delete redundant rows and columns
    df = df.drop(df.index[[0, 1, 3, 4, 5]])
    df = df[['APP. NUMBER', 'APP. DATE', 'TRADE MARK', 'TM TYPE', 'TM COLOR', 'GOODS / SERVICES', 'APPLICANT / RIGHT HOLDER', 'CHUKAN CODE']]
    pmi_clean = pd.concat([pmi_clean, df], ignore_index=True)
pmi_clean

KeyError: "['TRADE MARK'] not in index"

### Japan Tobacco Inc

In [219]:
#retrieve lists that contain "Japan Tobacco Inc"
jti = []
for table in table_list:
    if any('Japan Tobacco' in s for s in list(table[2].astype(str))):
        jti.append(table)
print('Tada!')

Tada!

In [214]:
len(jti)

10

In [249]:
jti[0].transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,INID,INID,FIELD,CONTENT,(210),(220),(300),(540),NaN,NaN,(511),(531),(851),(731) / (732),NaN,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",NaN,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",(111),NaN,NaN,(141),(740),NaN
1,INID,NaN,NaN,NaN,APP. NUMBER,APP. DATE,PRIORITY DATE,TRADE MARK,TM TYPE,TM COLOR,GOODS / SERVICES,VIENNA CLASS,LIMITATION,APPLICANT / RIGHT HOLDER,APPLICANT ADDRESS,NaN,RIGHT HOLDER ADDRESS,NaN,REG. NUMBER,REG. DATE,REG. PUBLICATION,EXPIRE DATE,IP AGENCY,CHUKAN CODE
2,FIELD,NaN,NaN,NaN,4-2015-17485,03/07/2015,NaN,"MEVIUS FULLSTREAM STREAM FILTER C C [S], hÃ¬nh",Normal,1,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",01.15.23 11.01.11 26.11.12 26.15.15,NhÃ£n hiá»u ÄÆ°á»£c báº£o há» tá»ng thá»....,Japan Tobacco Inc. / Japan Tobacco Inc.,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",NaN,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",NaN,4-0287168-000,29/08/2017,25/10/2017 355,03/07/2025,INVESTCONSULT,(31/07/2015) 221: Notification for Acceptance ...
3,FIELD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",NaN,"2-2-1 Toranomon, Minato-ku, Tokyo, Japan",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CONTENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CONTENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
jti_clean = pd.DataFrame(columns = ['APP. NUMBER', 'APP. DATE', 'TRADE MARK', 'TM TYPE', 'TM COLOR', 'GOODS / SERVICES', 'APPLICANT / RIGHT HOLDER', 'CHUKAN CODE'])
for table in jti:
    #put to dataframe
    df = table.transpose()
    #replace default column headers as first row
    df.columns = df.iloc[1]
    #delete redundant rows and columns
    df = df.drop(df.index[[0, 1, 3, 4, 5]])
    df = df[['APP. NUMBER', 'APP. DATE', 'TRADE MARK', 'TM TYPE', 'TM COLOR', 'GOODS / SERVICES', 'APPLICANT / RIGHT HOLDER', 'CHUKAN CODE']]
    jti_clean = pd.concat([jti_clean, df], ignore_index=True)
jti_clean

1,APP. NUMBER,APP. DATE,TRADE MARK,TM TYPE,TM COLOR,GOODS / SERVICES,APPLICANT / RIGHT HOLDER,CHUKAN CODE
0,4-2015-17485,03/07/2015,"MEVIUS FULLSTREAM STREAM FILTER C C [S], hÃ¬nh",Normal,1,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc. / Japan Tobacco Inc.,(31/07/2015) 221: Notification for Acceptance ...
1,4-2015-24573,08/09/2015,HÃ¬nh,Normal,0,34 Thuá»c lÃ¡ ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n hoáº...,Japan Tobacco Inc. / Japan Tobacco Inc.,(07/10/2015) 221: Notification for Acceptance ...
2,4-2015-32071,16/11/2015,MEVIUS LESS SMOKE SMELL LSS AIRSTREAM STREAM F...,Normal,1,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc.,(16/12/2015) 221: Notification for Acceptance ...
3,4-2016-03613,15/02/2016,CASTER,Normal,0,34 Thuá»c lÃ¡ ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n hoáº...,Japan Tobacco Inc. / Japan Tobacco Inc.,(15/03/2016) 221: Notification for Acceptance ...
4,4-2016-33622,26/10/2016,NOVA,Normal,0,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc. / Japan Tobacco Inc.,(28/11/2016) 221: Notification for Acceptance ...
5,4-2017-09591,13/04/2017,WINSTON PURPLE,Normal,0,34 Thuá»c lÃ¡ ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n hoáº...,Japan Tobacco Inc.,(12/05/2017) 221: Notification for Acceptance ...
6,4-2017-19641,29/06/2017,ACTIVATE,Normal,0,34 Thuá»c lÃ¡ ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n hoáº...,Japan Tobacco Inc.,(31/07/2017) 221: Notification for Acceptance ...
7,4-2018-39531,12/11/2018,"MEVIUS OPTION, hÃ¬nh",Normal,1,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc.,(12/12/2018) 221: Notification for Acceptance ...
8,4-2018-41862,28/11/2018,SYMPHONIC,Normal,0,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc.,(27/12/2018) 221: Notification for Acceptance ...
9,4-2018-43530,10/12/2018,BLACK TEA,Normal,0,"34 LÃ¡ thuá»c lÃ¡, ÄÃ£ ÄÆ°á»£c cháº¿ biáº¿n...",Japan Tobacco Inc.,(10/01/2019) 221: Notification for Acceptance ...